*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video{
    position:relative;
    height: 75svh;  
    width: 100%;
    overflow: hidden;
}
.video-container{
    width: 100%;
    height: 100%;
}


.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

