*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


.header-container {
    background-image: url("img2.png");
    background-size: cover;        
    background-position: center;   
    height: 85vh;
    width: 100%;
    
   
}
.header-container .logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -30px;
    font-size:9rem;
 
}

/*.header-container .menu-bar .bar img {
    width: 40px;
    height: 40px;
    top: 30px;                
    left: 30px; 
    position: absolute;             

}*/

.header-container  .menu-bar .Menu-text {
    font-family:system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 0.7rem;
    padding-left: 50px;   
    z-index: 1000;
    position: fixed;
    top: 33px;
      
}

#menuToggle {
    display: none;
}


.header-container .menu-bar .bar{
    display: flex;
    cursor: pointer;
    position: fixed;
    z-index: 1001;
    width: 40px;
    height: 40px;
    top: 30px;                
    left: 40px; 
}

.header-container .menu-bar .navbar {
    
    position: fixed;
    top: 0; 
    left: -350px;
     transition: left 0.4s;
    background-color: white;
    width: 350px;                          
    z-index: 1000;
    padding-top: 80px; 
    padding-left: 25px; 
    overflow-y: auto;
    height: 100vh;
    
}

.menu-bar #menuToggle:checked ~ .navbar {
    display: block;
    left: 0;
}


.navbar ul {
    list-style: none;
   
}

.navbar li {
    padding: 10px 5px;
    
}

.navbar a {
    text-decoration:none;
    color: black;
    font-size:35px;
    font-family: "Inter", "Segoe UI", 
    Roboto, Helvetica, Arial, sans-serif;
    font-weight: 1000;
    line-height: 5rem;
   
}

.navbar a:hover {
    color: #ff8ab4; 
}


.header-container .intro h1{
    font-family:"Inter", "Segoe UI", 
    Roboto, Helvetica, Arial, sans-serif ;
    font-size: 80px;
    font-weight: 1000;
    text-align: center;
    position: relative;
      top: -30px;   
   
}
.header-container .intro p{
    font-family:"Inter", "Segoe UI", 
    Roboto, Helvetica, Arial, sans-serif ;
    font-size: 27px;
    padding-left: 100px;
    padding-right: 150px;
    margin-top: -15px;   
    text-align: center;
    line-height: 2.5rem;
}
.header-container .intro span{
    font-family:"Inter", "Segoe UI", 
    Roboto, Helvetica, Arial, sans-serif ;
    font-size: 27px;
    padding-left: 370px;
    padding-right: 15px;
    margin-top: -15px;   
    text-align: center;
    
}

.header-container .top-bar .order-btn{
    position: absolute;
    top: 300px;
    right: 580px;
    padding: 10px 20px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
}
.header-container .top-bar .order-btn:hover {
    background-color: #ff8ab4;
    color: white;
}
.header-container .top-bar .order-btn p{
  font-family:"Inter", "Segoe UI", 
    Roboto, Helvetica, Arial, sans-serif ;
    font-size: 20px;
    font-weight: 3800;
}

.item .feb .date{
    background-color:#ffa9c8;
    color: black;
    font-size: 17px;
    border: none;
    margin-top: 150px ;
    margin-left:25px ;
    padding: 12px 30px;
    border-radius: 12px;
}
.item .feb h2 {
    font-family: "Inter", "Segoe UI", 
    Roboto, Helvetica, Arial, sans-serif ;
    font-size: 90px;
    margin-left: 25px;
    font-weight: 800;
    
}
.item .feb h3 {
    font-family: "Inter", "Segoe UI", 
    Roboto, Helvetica, Arial, sans-serif ;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 15px;
    font-weight: 300;
}
.item .cookie{
    height: 670px;
    width: 600px;
    margin-left: 100px;
}

.item .this-week{
    background-color:#ffa9c8;
    color: black;
    font-size: 17px;
    border: none;
    margin-top: 10px ;
    margin-left:70px ;
    padding: 12px 30px;
    border-radius: 12px;
}